<div class="home">
    <h1 class="display-4">Home - Products</h1>
    <div class="products-container row"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./home.js"></script>